/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/storage/pail
/storage/framework/
/storage/logs/
/vendor
# .env related ignores disabled intentionally to commit environment file
# .env
# .env.backup
# .env.production
# .env.*
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
Thumbs.db
.DS_Store
